*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: wheat;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    display: flex;
    background-color: white;
    justify-content: start;
    height: 50px;
    color: black;
    align-items: center;
}

nav h4 {
    margin-left: 40px;
}

nav .logo {
    letter-spacing: 2px;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -2px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
    -moz-transform: rotate(45deg) translate(-1px, -1px);
    -ms-transform: rotate(45deg) translate(-1px, -1px);
    -o-transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    -webkit-transform: rotate(-45deg) translate(-1px, 0);
    -moz-transform: rotate(-45deg) translate(-1px, 0);
    -ms-transform: rotate(-45deg) translate(-1px, 0);
    -o-transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black ;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: start;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

#nav1 {
    margin-left: 40px;
    margin-right: 20px;
}

#nav2{
    margin-right: 20px;
}

#nav3{
    margin-right: 20px;
}

/* Home */
.home{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home h1 {
    margin-top: 20px;
    font-size: 70px;
}

.home img {
    margin-top: 20px;
    justify-content: center;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.logo-card {
    
}


/* Product */
.container {
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.card {
    width: 300px;
    height: 350px;
    margin: 100px 16px 50px 16px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product {
    position: absolute;
    top: 0;
    z-index: 9;
    cursor: pointer;
}

.product img {
    margin-top: 15px;
    width: 50%;
    height: auto;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.detail {
    display: flex;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0 20px 20px;
    -webkit-border-radius: 0 20px 20px;
    -moz-border-radius: 0 20px 20px;
    -ms-border-radius: 0 20px 20px;
    -o-border-radius: 0 20px 20px;
}

.title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.description {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}

.newBox {
    display: none;
}

.productBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productBox img {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.titleBox {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: white;
    letter-spacing: 4px;
}

.descriptionBox {
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
}

/* Contact */
.contact1 {
    text-align: center;
    margin-top: 80px;
    font-size: x-large;
    margin-bottom: 30px;
}

.contact1 button {
    height: 50px;
    width: 150px;
}

.contact1 button:hover {
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    height: 70px;
    width: 200px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* About */

.about-wrapper {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;   
    font-size: 25px;
    margin-bottom: 50px;
}
.about-wrapper img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}


/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul{
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
        z-index: 11;
    }

    nav {
        justify-content: space-around;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: white;
        z-index: 10;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        opacity: 0;
}

    #nav1{
        margin-left: 10px;
        margin-right: 10px;
    }
    #nav2{
        margin-left: 10px;
        margin-right: 10px;
    }
    #nav3{
        margin-left: 10px;
        margin-right: 10px;
    }

    nav ul.slide {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
}
    .productBox img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}